@import "tailwindcss";
/* Custom styles for dots */
.slick-dots li button:before {
  color: white !important; /* Set the dots to white */
  opacity: 0.5; /* Optional: Adjust transparency */
}

.slick-dots li.slick-active button:before {
  color: white !important; /* Set the active dot to white */
  opacity: 1; /* Make the active dot fully visible */
}

.loader {
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  animation: spin 1s linear infinite;
}

/* Custom styles for timer grid */
@media (max-width: 345px) {
  .timer-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.custom-timeline * {
  font-family: '"EB Garamond", serif' !important;
}
